body
{
    background-color: purple;
}

#login-form
{
    background-color: white;
    width: 25%;
    margin: 120px auto;
    padding: 50px;
    box-shadow: 10px 10px 5px rgb(82, 11, 77);
    border-radius: 6px;
}

#btn
{
    color: white;
    background-color: blueviolet;
    border-color: black;
    padding: 10px;
    font-size: large;
    margin: 0 auto;
    border-width: 3px;
    border-radius: 5px;
    border-style: solid;
}

#btn:hover
{
    background-color: #8a2de1b7
}